<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
  <div class="container">

    <div class="navbar-left">
      <button class="navbar-toggler" type="button">&#9776;</button>
      <a class="navbar-brand" href="index.html">
        <img class="logo-dark" src="assets/img/logo-dark.png" alt="logo" height=40>
        <img class="logo-light" src="assets/img/logo-light.png" alt="logo" style="width: 180px !important; margin-top: 8px;">
      </a>
    </div>

    <section class="navbar-mobile">
      <span class="navbar-divider d-mobile-none"></span>

      <ul class="nav nav-navbar">

        <li class="nav-item">
          <a class="nav-link" href="#">Sports <span class="arrow"></span></a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="page/how-it-works.html">Ice Hockey</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="page/pricing.html">Basketball</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="page/portfolio.html">Soccer</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="page/portfolio-single.html">Lacrosse</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="page/career.html">Football</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="page/career-single.html">Baseball</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="page/about.html">Others</a>
            </li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Products <span class="arrow"></span></a>
          <nav class="nav">
            <a class="nav-link" href="demo/bootstrap.html">Roster cards</a>
            <a class="nav-link" href="demo/dropbox.html">Travel tags</a>
            <a class="nav-link" href="demo/github.html">Scoresheet labels</a>
            <a class="nav-link" href="demo/github.html">Locker room badges</a>
            <li class="nav-divider"></li>

            <li class="nav-item">
              <a class="nav-link" href="#">Extra <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="page/demo.html">Request demo</a>
                <a class="nav-link" href="page/coming-soon.html">Coming soon</a>
                <a class="nav-link" href="page/terms.html">Terms</a>
                <a class="nav-link" href="page/error-404.html">Error 404</a>
              </nav>
            </li>
            <a class="nav-link" href="demo/gmail.html">Coming soon</a>
          </nav>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About us <span class="arrow"></span></a>
          <nav class="nav">
            <a class="nav-link" href="shop/list.html">Out story</a>
            <a class="nav-link" href="shop/item.html">Giving back</a>
            <a class="nav-link" href="shop/cart.html">Buzz</a>
          </nav>
        </li>

      </ul>
    </section>

    <a class="btn btn-xs btn-round btn-white mr-3" href="https://themeforest.net/item/thesaas-responsive-bootstrap-saas-software-webapp-template/19778599?license=regular&open_purchase_for_item_id=19778599&purchasable=source&ref=thethemeio">Sign In</a>
    <a class="btn btn-xs btn-round btn-success" href="https://themeforest.net/item/thesaas-responsive-bootstrap-saas-software-webapp-template/19778599?license=regular&open_purchase_for_item_id=19778599&purchasable=source&ref=thethemeio">Register Free</a>

  </div>
</nav><!-- /.navbar -->
